.footer{
    background-color: rgb(0,0,0,0.9);
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: white;
}
.footer-nav{
    padding-top: 50px;
    padding-bottom: 50px;
}
.subscribe-text{
    margin: 0;
    color: white;
    padding-bottom: 20px;
}
.subscribe-form {
    display: inline-block;
    margin: auto;
  }
  
.subscribe-form .custom-input {
    width: 400px; /* Set your desired width */
    border-radius: 0;
    padding: 10px;
}
.social-media-icons{
    height: 20px;
    width: 20px;
    filter: brightness(80%);
}
.social-media-icons:hover{
    cursor: pointer;
    filter: brightness(100%);
}
.footer-hr{
    border-top: 1px solid grey;
    opacity: 0.3;
    padding-bottom: 100px;
    margin: 0;
}
.footer-text{
    color: white;
    margin: 0;
    padding-bottom: 100px;
    font-size: 14px;
    opacity: 0.7;
}

  

  

